
.topHalf {
    background: radial-gradient(circle at 10% 20%, rgb(254, 255, 165) 0%, rgb(255, 232, 182) 90%);
}
h3{
    text-align:center;
    font-size:50px;
    margin:0;
    
}
h3 .letterW {
    color:aquamarine;
    display:inline-block;
    transform:rotate(20deg);
}
h3 .letterA {
    color:blueviolet;
    display:inline-block;
    transform:rotate(40deg);

}
h3 .letterC {
    color:rgb(177, 92, 12);
    display:inline-block;
    transform:rotate(-35deg);
}
h3 .letterK {
    color:greenyellow;
    display:inline-block;
    transform:rotate(10deg);

}
h3 .letterY {
    color:blue;
    display:inline-block;
    transform:rotate(-40deg);
}
h1 {
    text-align:center;
    font-size: 80px;
    margin:0;
}

 .letterR {
    color:magenta;
    display:inline-block;
    transform:rotate(160deg);
}
.letterR:hover {
    transform:rotate(360deg);
}

.letterW2 {
    color:teal;
    display:inline-block;

}

.letterL {
    color:red;
    display:inline-block;

}
.letterD {
    color:orange;
    display:inline-block;
    margin-right: 30px;

}
.letterC2 {
    color:yellowgreen;
    display:inline-block;
    margin-left: 30px;

}
.letterL2 {
    color:blue;
    display:inline-block;

}
.letterC3 {
    color:orangered;
    display:inline-block;

}
.letterK2 {
    color:pink;
    display:inline-block;
    transform:rotate(20deg);
}
.letterK2:hover {
    transform:rotate(360deg);
}
.middleHalf {
    background:white;
    text-align:center;
  
}
label, select {
    position:relative;
    top:250px;
    color:orangered;
}
select {
    padding:10px;
}
.city1, .city2, .city3, .city4 {
    background:#E4E4E4;
    max-width:200px;
    max-height:100px;
    border:solid;
    border-radius: 5px;
    border-width: 2px;
    font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  
}
.city1 {
    position:relative;
    margin:auto;
    left:300px;
    top:20px;
    transform:rotate(20deg);
}
.city2 {
    position:relative;
    margin:auto;
    right:320px;
    bottom:70px;
    transform:rotate(-20deg);
}
.city3 {
    position:relative;
    margin:auto;
    right:320px;
    top:170px;
    transform:rotate(20deg);
}
.city4 {
    position:relative;
    margin:auto;
    left:300px;
    bottom:-80px;
    transform:rotate(-20deg);
}
.date1, .date2, .date3, .date4 {
    color:fuchsia;
}
.time1, .time2, .time3, .time4 {
    color:mediumslateblue;
}
.labelforCities {
    font-weight:600;
    text-align:center;
}
h2 {
    margin:0;
}
.bottomHalf {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    
}
.greenclock, .chromeclock, .greyredbell, .hourglass, .movingclock, .phonealert {
    margin:0 90px 0 0;
}

footer {
    text-align:center;
    margin:200px 0 0 0;
    padding:20px;
}
.personalInfo {
    margin:40px 0 0 0;
}
.reference {
    font-size:10px;
    margin:0 0;
}



